body {
    font-family: Arial, sans-serif;
    background-color: #FE5858;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    min-height: 100vh; /* Ensure full viewport height */
}

.container {
    text-align: center;
    padding: 40px;
    background-color: #FE5858;
    max-width: 600px; /* Limit the container width */
    width: 90%; /* Set a percentage width for responsiveness */
    border-radius: 10px;
    box-shadow: 0px 0px 10px  #d06b6b
}

header {
    background-color: #FE5858;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 3rem; /* Reduce font size for smaller screens */
    color: wheat;
}

p {
    font-size: 2rem; /* Reduce font size for smaller screens */
    margin-top: 10px;
    color: wheat;
}

.btn-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color:  #FE5858;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 1.2rem;
    border: 1px solid  wheat ;
}

.btn-link:hover {
    background-color: #FE5858;
    color:  white; 
}

img {
    width: 100%; /* Make the image responsive */
    height: auto;
    margin-top: -150px;
}
